<div class="container">
    <h2>{{ title }}</h2>

    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <p>
            <label for="subject">Asunto: </label>
            <input type="text" name="subject" required autocomplete="off">
        </p>
        <p>
            <label for="email">Correo electronico de contacto: </label>
            <input type="email" name="email" required autocomplete="off">
        </p>
        <p>
            <label for="message">Mensaje: </label>
            <textarea name="message" cols="30" rows="10"></textarea>
        </p>

        <input type="submit" value="Enviar correo">
    </form>
</div>