<div class="logout">
    <!-- <a href="" (click)="logout()" class="button return" style="width: auto;">Cerrar sesión</a> -->
</div>

<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article>
    <div class="about">
        <h2>Sobre mi</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec porta dolor erat, at tempor tellus sollicitudin eu.
            Vivamus luctus, dolor ac accumsan finibus, felis quam faucibus nulla,
            mollis luctus dui ex id lacus. Donec odio lectus, consectetur vitae enim sed,
            porta interdum purus. Sed in iaculis libero. Integer condimentum leo ut turpis
            facilisis dapibus at eget diam. Vestibulum nec nulla in ex tristique ornare
            imperdiet quis est. Nulla rutrum lectus ut arcu consectetur volutpat. Duis
            vestibulum purus ac mi semper facilisis. Pellentesque hendrerit ex non nisl
            dictum condimentum at non eros. Nullam a posuere magna. Fusce nibh urna,
            molestie et urna at, interdum laoreet quam. Vivamus lobortis libero eget iaculis lacinia.
        </p>
    </div>

    <div class="about">
        <h2>Estudios y conociemientos</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec porta dolor erat, at tempor tellus sollicitudin eu.
            Vivamus luctus, dolor ac accumsan finibus, felis quam faucibus nulla,
            mollis luctus dui ex id lacus. Donec odio lectus, consectetur vitae enim sed,
            porta interdum purus. Sed in iaculis libero. Integer condimentum leo ut turpis
            facilisis dapibus at eget diam. Vestibulum nec nulla in ex tristique ornare
            imperdiet quis est. Nulla rutrum lectus ut arcu consectetur volutpat. Duis
            vestibulum purus ac mi semper facilisis. Pellentesque hendrerit ex non nisl
            dictum condimentum at non eros. Nullam a posuere magna. Fusce nibh urna,
            molestie et urna at, interdum laoreet quam. Vivamus lobortis libero eget iaculis lacinia.
        </p>
    </div>

    <div class="about">
        <h2>Proyectos desarrollados o en los cuales he participado</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec porta dolor erat, at tempor tellus sollicitudin eu.
            Vivamus luctus, dolor ac accumsan finibus, felis quam faucibus nulla,
            mollis luctus dui ex id lacus. Donec odio lectus, consectetur vitae enim sed,
            porta interdum purus. Sed in iaculis libero. Integer condimentum leo ut turpis
            facilisis dapibus at eget diam. Vestibulum nec nulla in ex tristique ornare
            imperdiet quis est. Nulla rutrum lectus ut arcu consectetur volutpat. Duis
            vestibulum purus ac mi semper facilisis. Pellentesque hendrerit ex non nisl
            dictum condimentum at non eros. Nullam a posuere magna. Fusce nibh urna,
            molestie et urna at, interdum laoreet quam. Vivamus lobortis libero eget iaculis lacinia.
        </p>
    </div>

    <div class="about">
        <h2>Información de contacto</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec porta dolor erat, at tempor tellus sollicitudin eu.
            Vivamus luctus, dolor ac accumsan finibus, felis quam faucibus nulla,
            mollis luctus dui ex id lacus. Donec odio lectus, consectetur vitae enim sed,
            porta interdum purus. Sed in iaculis libero. Integer condimentum leo ut turpis
            facilisis dapibus at eget diam. Vestibulum nec nulla in ex tristique ornare
            imperdiet quis est. Nulla rutrum lectus ut arcu consectetur volutpat. Duis
            vestibulum purus ac mi semper facilisis. Pellentesque hendrerit ex non nisl
            dictum condimentum at non eros. Nullam a posuere magna. Fusce nibh urna,
            molestie et urna at, interdum laoreet quam. Vivamus lobortis libero eget iaculis lacinia.
        </p>
    </div>
</article>