<header>

  <div class="header-responsive-logo">
    <a id="header-link3" class="logo" [routerLink]="['/sobre-mi']">EO</a>
  </div>

  <div id="header-responsive-icon" class="header-list-icon">
    <img src="../assets/img/list-icon.png" alt="Menú icon button">
  </div>

  <ul id="header-links">
    <li id="header-link1"><a [routerLinkActive]="['actived']" [routerLink]="['/sobre-mi']">Sobre mi</a></li>
    <li id="header-link2"><a [routerLinkActive]="['actived']" [routerLink]="['/proyectos']">Proyectos</a></li>
    <li id="header-link3" class="logo"><a [routerLink]="['/sobre-mi']">EO</a></li>
    <li id="header-link4"><a [routerLinkActive]="['actived']" [routerLink]="['/crear-proyecto']">Crear proyecto</a></li>
    <li id="header-link5"><a [routerLinkActive]="['actived']" [routerLink]="['/contacto']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>   
</section>

<footer>
  Diseño original &copy; <a target="_blank" href="https://victorroblesweb.es/">Victor Robles </a>
</footer>